<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">详细信息</h1>
    <!--<div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">关闭</button>
    </div>-->
  </ion-header-bar>
  <ion-content>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">当前业务号</span>
          <input type="text"  ng-model="nownumber" readonly="readonly"  >
        </label>
        <label class="item item-input">
          <span class="input-label">待办理号数</span>
          <input type="text" ng-model="waitingnumber" readonly="readonly" >
        </label>
        <label class="item">
          <button class="button button-block button-dark ion-android-checkbox" >我要预约</button>
          <button class="button button-block button-dark ion-android-cancel" ng-click="closebankinfowin()">关闭窗口</button>
        </label>
      </div>

  </ion-content>
</ion-modal-view>
