<ion-view view-title="银行应用app">
  <ion-nav-title>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i   class="icon ion-ios-search placeholder-icon"></i>
        <input  style="width: 100%;" type="text" ng-model="searchkey"  placeholder="输入关键字查询">

        <!--<i ng-click="doSearch()"  class="icon ion-ios-search"></i>-->
      </label>
      <button ng-click="doSearch(searchkey)" class="button icon ion-search"></button>
    </div>


  </ion-nav-title>
  <ion-content scroll="false">

        <div id="map" data-tap-disabled="true" style="height: 100%;width: 100%;">
        </div>

    <!--<div id="map" style="width: 100%; height: 100%"></div>-->
  </ion-content>
</ion-view>
