/* Empty. Add your own CSS if you like */
.row{
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 100% !important;
  -ms-flex: 0 1 100% !important;
  flex: 0 1 100% !important;
}
.tipdiv{
  font-size: medium;
  color:darkgrey;
}
.tipbutton{
  text-align: center;
  color: #222222;
}

